/* ✨✨✨ LAYOUT ✨✨✨ */

.home-container {
  display: flex;
  gap: 24px;
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 255px;
  flex-shrink: 0;
}

.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* ✨✨✨ COMPANY CARD ✨✨✨ */

.company-card {
  background: linear-gradient(
    to right,
    var(--blue),
    var(--purple),
    var(--salmon)
  );
  border-radius: 14px;
  color: var(--white);
  padding: 40px 24px;
}

.company-card h2 {
  font-size: 20px;
  font-weight: 700;
}

.company-card p {
  font-size: 15px;
  opacity: 0.75;
}

/* ✨✨✨ CATEGORY FILTER ✨✨✨ */

.category-filter {
  background: var(--white);
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.category-filter button {
  background: var(--light-lavender);
  color: var(--blue);
  border: none;
  border-radius: 10px;
  padding: 6px 16px;
  font-family: var(--font);
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
}

.category-filter button:hover {
  background: var(--light-lavender);
}

.category-filter button.active {
  background: var(--dark-blue);
  color: var(--white);
}

/* ✨✨✨ SUGGESTIONS HEADER ✨✨✨ */

.suggestions-header {
  background: var(--dark-navy);
  border-radius: 10px;
  padding: 18px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
}

.suggestions-header p {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* ✨✨✨ BUTTONS ✨✨✨ */

.feedback-btn {
  background: var(--purple);
  color: var(--white);
  border: none;
  border-radius: 10px;
  padding: 12px 24px;
  font-family: var(--font);
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

.feedback-btn:hover {
  opacity: 0.8;
  transform: translateY(-2px);
  transition: all 0.2s ease;
}

/* ✨✨✨ SUGGESTION CARDS ✨✨✨ */
a .suggestion-card {
  background: var(--white);
  border-radius: 10px;
  padding: 28px 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.suggestion-card h3 {
  font-size: 18px;
  font-weight: 700;
  color: var(--dark-blue);
}

.suggestion-card p {
  font-size: 15px;
  color: var(--muted-blue);
}

.category-name {
  background: var(--light-lavender);
  color: var(--blue);
  border-radius: 10px;
  padding: 6px 16px;
  font-size: 13px;
  font-weight: 600;
  width: fit-content;
}

/* ✨✨✨ NO FEEDBACK ✨✨✨ */

.no-feedback {
  background: var(--white);
  border-radius: 10px;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.no-feedback img {
  width: 130px;
  margin-bottom: 16px;
}

.no-feedback h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-blue);
}

.no-feedback p {
  font-size: 15px;
  color: var(--muted-blue);
  max-width: 400px;
}
